/* Color and text alignment */

body {
	background-color: rgb(111, 236, 236);
}

p {
	background-color: #fbf8ac;
	font-weight: bold;
}

main {
	text-align: center;
}

/* Centered Div using flexbox */

.mdl-layout-title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffbea8;
	font-weight: bold;
  height: 50px;
}

h3 {
  background-color: #ff9494;
  padding: 20px;
}

main {
	text-align: center;
	font-weight: bold;
}

#output-header {
  text-decoration: underline;
}
